@import "tailwindcss";


.pc{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;   
}
.box { grid-area: 1 / 1 / 7 / 6; }
.add-pair { grid-area: 1 / 6 / 4 / 8; }
.team { grid-area: 4 / 6 / 7 / 8; }
.pair{
  border-radius: 100px;
  width: 200px;
  height: 200px;
  position: relative;

}
.ball-divider{
  height: 5%;
  background-color: black;
  width: 195px;
  position: absolute;
  left: 2.5px;
  top: 47.5%;
}
.ball-top, .ball-bottom{
  height: 95px;
  width: 100%;
  overflow: hidden;
  border: 1px solid black;
}
.ball-top{
  margin-bottom: 10px;
  display: flex;
  border-radius: 100px 100px 0 0;
  width: 200px;
}
.ball-bottom{
  
  border-radius: 0 0 100px 100px;
}
.left, .right{
  width: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

.member-0{
  border-radius: 40px 10px 0 10px;  
}

.member-1{
  border-radius: 10px 40px 10px 0;  
}

.member-2{
  border-radius: 10px 0 10px 40px;    
}

.member-3{
  border-radius: 0 10px 40px 10px;
}

.typing-img{
  width: 30px;
}

.member-0 > .typing-img{
  right: 0px;
  bottom: 0px;
}

.member-1 > .typing-img{
  left: 0px;
  bottom: 0px;
}

.member-2 > .typing-img{
  right: 0px;
  top: 0px;
}

.member-3 > .typing-img{
  left: 0px;
  top: 0px;
}

.trio{
  display: flex;
  gap: 5px;
}

.trio-img{
  width: 100px;
}

.trio-0, .duo-0{
  border-radius: 10px 0 0 10px;
}
.trio-2, .duo-1{
  border-radius: 0 10px 10px 0;
}

.typing{
  width: 20px;
  right: 0;
}
